body {
  font-family: Arial;
  background: #121212;
  color: #eee;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
}

button {
  padding: 10px;
  background: #00ffcc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.post {
  background: #1e1e1e;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

.like-btn {
  margin-top: 10px;
}

.you-tag {
  color: #00ffcc;
  font-size: 12px;
}

a {
  color: #00ffcc;
}
